.container{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 840px;
    width: 100%;
}
.form{
    width: 588px;
    margin-left:2%;
    font-size: 14px;
}
.container-display{
    display: flex;
}
.form-display{
  display: flex;
  gap: 5%;
}
.form input{
    width: 280px !important;
    height: 38px !important;
    border-radius: 6px !important;
    border: solid 1px #DEE3F9 !important;
    padding-left: 10px !important;
}
.form label{
    color: #4D4D4E;
    font-weight: 500;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEE3F9;
    height: 840px;
    width: 709px;
}
.button{
    background: #3D5EE1;
    width: 100%;
    height: 52px;
    border-radius: 16px;
    border: none;
    padding: 16px;
     margin-top: 6%; 
     color: white;
}
.last-sec{
    margin-top:13% ; 
    display: flex;
    gap: 5%;
    align-items: center;
    flex-wrap: wrap;
}
.login{
    text-align: center;
    color: #4D4D4E;
    font-weight: 500;
}
.login .link{
    text-decoration: underline;
    color: #3D5EE1;
}
.h1{
    display: block;
    font-size: 2em;
     margin-top: 1.5em; 
    margin-bottom: 0.60em; 
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.arrow {
    position: absolute;
    right:2px;
    top: 26px;
}
.state{
    position: relative;
}
.file{
    width:155px ;
    height:32px ;
    border-radius: 8px;
    background: #DEE3F9;
    color: 12px;
    font-size: 12px;
}
.image-icon{
    width: 18px;
    color: gray;
    position: absolute;
    bottom: 7px;
    left: 10px;
}

@media (max-width: 800px) {
   .image{
     display: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

   .form input{
       width: 200px !important;
   }
   .button{
       width: 70%;
   }
   .last-sec{
       width: 70%;
   }
   .form-display{
       flex-wrap: wrap;
   }
}

@media (max-width: 480px) {
     body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
    }
       .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
         height: 1400px;
     }
    .arrow{
        right: 9%;
    }
    .form{
         padding-left: 30%; 
    }
    .form input{
        width: 350px !important;
    }
    .h1{
        margin-top: -80%;
    }
    .button{
        width: 350px;
    }
}
