.Wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 840px;
    width: 100%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEE3F9;
    height: 840px;
    width: 709px;
}
.manlearning{

}
.wrapper-display{
    display: flex;
    gap: 25px;
}
.form-sec{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.form-sec .label{
    color: #4D4D4E;
    font-weight: 500;
}
.form-sec .input{
    width: 100%;
    height: 38px;
    border-radius: 6px;
    padding-left: 10px;
    background: transparent;
    box-shadow:2px 5px 5px #abb4b9;
}
.butn{
    background: #3D5EE1;
    width: 100%;
    height: 52px;
    border-radius: 16px;
    border: none;
    padding: 16px;
    margin-top: 8%;  
     color: white;
}
.heading{
    display: block;
    font-size: 2em;
     margin-top: 1.5em; 
    margin-bottom: 0.60em; 
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.checkbox-display{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: #4D4D4E;
}
.checkbox-display .check{
    width: 25px;
    height: 25px;
}
.signup{
    text-align: center;
    color: #4D4D4E;
    font-weight: 500;
}
.signup .link{
    text-decoration: underline;
    color: #3D5EE1;
}

@media (max-width: 480px) {
    .img{
        display: none;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 1400px;
     }
     .form-sec{
        padding-left: 9%; 
   }
   .form-sec .input{
       width: 350px;
   }
   .heading{
    margin-top: -60%;
   }
   .butn{
    width: 350px;
   }
}