.container {
    display: flex;
    width: 100%;
}

.form {
    width: 48%;
    padding-left: 5%;
    font-size: 14px;
}

.container-display {
    display: flex;
    width: 100%;
}

.form-display {
    display: flex;
    gap: 30px;
    width: 100%;
}

.container .form input {
    width: 100% !important;
    height: 38px !important;
    border-radius: 6px !important;
    border: solid 1px #DEE3F9 !important;
    padding: 10px !important;
}

.container .form label {
    color: #4D4D4E;
    font-weight: 500;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEE3F9;
    width: 48%;
}

.button {
    background: #3D5EE1;
    width: 100%;
    height: 52px;
    border-radius: 16px;
    border: none;
    padding: 16px;
    margin-top: 6%;
    color: white;
}

.last-sec {
    margin-top: 13%;
    display: flex;
    gap: 5%;
    align-items: center;
    flex-wrap: wrap;
}

.login {
    text-align: center;
    color: #4D4D4E;
    font-weight: 500;
}

.login .link {
    text-decoration: underline;
    font-size: 18px;
}

.h1 {
    display: block;
    font-size: 2em;
    margin-top: 1.8em;
    margin-bottom: 0.60em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.arrow {
    position: absolute;
    right: 2px;
    top: 26px;
}

.state {
    position: relative;
}

.file {
    width: 155px;
    height: 32px;
    border-radius: 8px;
    background: #DEE3F9;
    color: 12px;
    font-size: 12px;
}

.image-icon {
    width: 18px;
    color: gray;
    position: absolute;
    bottom: 7px;
    left: 10px;
}

@media (max-width: 1000px) {
    .container body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form{
        width: 60%;
    }

    .button {
        width: 70%;
    }

    .last-sec {
        width: 70%;
    }

    .form-display {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .image{
        display: none;
    }
}