.upcoming{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.upcoming-div{
    padding-left: 5%;
    padding-top: 3%;
}
.continue-div{
    padding-left: 5%;
    padding-top: 3%;
}

@media (max-width: 480px) {
    .continue-div{
        height: 700px;
        width: 300px;
    }
}